# X plus 4 
# [dependencies]
# chamber-heater-issue.cfg
# https://github.com/qidi-community
# if you got this far, there be dragons in regards to your safety. Good luck.
# While this one is not dangerous in by itself, it does give you a footgun to hurt yourself and your printer with.

[heater_generic chamber]
max_power:0.9
max_temp:100


[gcode_macro M141]
gcode:
    {% if printer["heater_generic chamber"] is defined %}
        {% set s = params.S|float %}
        SET_HEATER_TEMPERATURE HEATER=chamber TARGET={([s, 90]|min)}
    {% endif %}

[gcode_macro M191]
gcode:
    {% if printer["heater_generic chamber"] is defined %}
        {% set s = params.S|float %}
    
        M141 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  
        {% if s != 0 %}
            TEMPERATURE_WAIT SENSOR="heater_generic chamber" MINIMUM={([s, 90]|min)}
        {% endif %}
    {% endif %}
